.vscode
.ignore
.vs
.idea
Binaries
DerivedDataCache
Intermediate
Distribution
Saved
Script
Documentation/Distribution
Content/Collections
Content/Developers
Plugins/Developer
*.code-workspace
*.pdb
*.patch_*.*
*.sln
*.vsconfig
